name: Publish
on:
  push:
    tags:
      - 'v*.*.*'
permissions:
  contents: read

jobs:
  publish_release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    outputs:
      checksums: ${{ steps.capture_checksums.outputs.checksums }}
    steps:
      - name: Capture dist checksums in a string
        id: capture_checksums
        run: |
          {
            echo "checksums<<EOF"
            echo "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855  hello1.txt"
            echo "4e9ce99117d2260c09a600d93926236375283896a8f53b2e1d549cce121e4d98  hello2.txt"
            echo "EOF"
          } >>"$GITHUB_OUTPUT"

  attest_build_provenance:
    name: Attest build provenance
    needs:
      - publish_release
    permissions:
      attestations: write
      id-token: write
    uses: UpCloudLtd/workflows/.github/workflows/build-provenance.yaml@8c12aecabdae7d458521a1e3cb1e97b6d1babf0b
    with:
      subject-checksums: ${{ needs.publish_release.outputs.checksums }}
