name: Publish
on:
  push:
    tags:
      - 'v*.*.*'
permissions:
  contents: read
jobs:
  publish_release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      attestations: write
      contents: write
      id-token: write
      packages: write
    outputs:
      checksums: ${{ steps.capture_checksums.outputs.checksums }}
    steps:
      - name: Checkout head
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: 'go.mod'
      - name: Get tag version
        id: git
        run: echo "tag_version=$(make version)" >> "$GITHUB_OUTPUT"
      - name: Get release notes
        id: release_notes
        run: make release-notes > .release_notes
      - name: Run goreleaser-action
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        with:
          version: latest
          args: release --clean --release-notes=.release_notes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Capture dist checksums in a string
        id: capture_checksums
        run: |
          {
            echo "checksums<<EOF"
            cat dist/checksums.txt
            echo "EOF"
          } >>"$GITHUB_OUTPUT"

  attest_build_provenance:
    name: Attest build provenance
    needs:
      - publish_release
    permissions:
      attestations: write
      id-token: write
    uses: UpCloudLtd/workflows/.github/workflows/build-provenance.yaml@0479f534c3d4e452e438366e4861394eab774ad5
    with:
      subject-checksums: ${{ needs.publish_release.outputs.checksums }}
